* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 1s ease-in-out;
}

.heading {
  text-align: center;
  color: white;
  margin: auto;
  text-align: center;
  width: 100vw;
}

.heading h1 {
  box-shadow: 0 3px 10px black;
  padding: 20px;
}

.algos > .container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.sortingAlgo {
  display: flex;
  flex-wrap: wrap;
}

button {
  padding: 8px 13px;
  background-color: inherit;
  border: 1px solid blue;
  color: white;
  margin: 0 8px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.7);
  margin: 5px;
}
button:focus {
  outline: none;
}

button:hover {
  background-color: #fff;
  color: black;
  border: none;
  border: 1px solid white;
}

/* bars styling */
#array {
  max-height: 500px;
  box-shadow: 0 3px 10px black;
  max-width: 90%;
  margin: auto;
  margin-top: 64px;
}
.bars-area {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
}

.block {
  background-color: #6b5b95;
  transition: 0.2s all ease-in-out;
  border: 1px solid rgb(0, 0, 0);
  width: 30px;
  position: relative;
  margin: 7px;
}

.block_id {
  /* position: absolute; */
  color: white;
  margin-top: -20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* media queries */
@media screen and (max-width: 450px) {
  .heading h1 {
    font-size: 20px;
  }
  button {
    font-size: 12px;
  }
}
